<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TCCF</key>
	<dict>
		<key>PortalDomain</key>
		<string>taiccagithub.github.io</string>
		<key>AcknowledgementsRepo</key>
		<string>TAICCAgithub/CCIP-iOS</string>
		<key>PrivacyURL</key>
		<string>https://opass.app/privacy-policy.html</string>
		<key>HideContributor</key>
		<true/>
		<key>HideLibraries</key>
		<true/>
		<key>ogToken</key>
		<string>3bc3b7f0-e5de-4072-a5c4-b8ac44624839</string>
		<key>scandit</key>
		<string>2BXy4CfQi9QFc12JnjId7mHH58SdYzNC90Uo07luUUY</string>
		<key>DisplayDateTimeFormat</key>
		<string>YYYY-MM-dd HH:mm</string>
		<key>DisplayDateFormat</key>
		<string>M/d</string>
		<key>DisplayTimeFormat</key>
		<string>HH:mm</string>
		<key>Themes</key>
		<dict>
			<key>DevelopingLogoMaskColor</key>
			<string>#f2a900</string>
			<key>EventSwitcherButtonColor</key>
			<string>#682e8e</string>
			<key>EventSwitcherTextColor</key>
			<string>#ffffff</string>
			<key>RedeemButtonLeftColor</key>
			<string>#878787</string>
			<key>RedeemButtonRightColor</key>
			<string>#ff3a1e</string>
			<key>RedeemCodeTextColor</key>
			<string>#ff3a1e</string>
			<key>CheckinButtonLeftColor</key>
			<string>#878787</string>
			<key>CheckinButtonRightColor</key>
			<string>#532875</string>
			<key>DisabledButtonLeftColor</key>
			<string>#878787</string>
			<key>DisabledButtonRightColor</key>
			<string>#878787</string>
			<key>UsedButtonLeftColor</key>
			<string>#878787</string>
			<key>UsedButtonRightColor</key>
			<string>#878787</string>
			<key>MessageButtonLeftColor</key>
			<string>#ff3a1e</string>
			<key>MessageButtonRightColor</key>
			<string>#532875</string>
			<key>NavigationIndicatorColor</key>
			<string>#ffffff</string>
			<key>ProgressBarColor</key>
			<string>#ffffff</string>
			<key>HighlightedColor</key>
			<string>#ff3a1e</string>
			<key>LabelTextColor</key>
			<string>#ffffff</string>
			<key>CardTextColor</key>
			<string>#4d256f</string>
			<key>FavoriteButtonColor</key>
			<string>#878787</string>
			<key>CheckinRectangleLeftColor</key>
			<string>#ff3a1e</string>
			<key>CheckinRectangleRightColor</key>
			<string>#878787</string>
			<key>SessionTitleLeftColor</key>
			<string>#ff3a1e</string>
			<key>SessionTitleRightColor</key>
			<string>#878787</string>
			<key>SessionDateTitleTextColor</key>
			<string>#ffffff</string>
			<key>SessionDateIndicatorColor</key>
			<string>#ffffff</string>
			<key>SessionDetailHeaderTextColor</key>
			<string>#ffffff</string>
			<key>SessionMetaHeaderTextColor</key>
			<string>#000000</string>
			<key>SessionSectionTitleBackgroundColor</key>
			<string>#fbf6ff</string>
			<key>SessionSectionTitleTextColor</key>
			<string>#4d256f</string>
			<key>AnnouncementTitleLeftColor</key>
			<string>#ff3a1e</string>
			<key>AnnouncementTitleRightColor</key>
			<string>#878787</string>
			<key>AnnouncementNoContentTextColor</key>
			<string>#425d4f</string>
			<key>AnnouncementSectionTitleBackgroundColor</key>
			<string>#efefef</string>
			<key>AnnouncementSectionTitleTextColor</key>
			<string>#333333</string>
			<key>AnnouncementDashedLineColor</key>
			<string>#e9e9e9</string>
			<key>IRCTitleLeftColor</key>
			<string>#ff3a1e</string>
			<key>IRCTitleRightColor</key>
			<string>#878787</string>
			<key>IRCTitleTextColor</key>
			<string>#425d4f</string>
			<key>MoreTitleLeftColor</key>
			<string>#ff3a1e</string>
			<key>MoreTitleRightColor</key>
			<string>#878787</string>
		</dict>
	</dict>
</dict>
</plist>
